* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../img/bg_001.jpg);
  /* background-repeat: no-repeat;
  background-attachment: fixed; */
  background-size: cover;
}

.main-nav {
  float: right;
  list-style-type: none;
  margin-top: 70px;
}

.main-nav li {
  display: inline-block;
}

.main-nav li a {
  color: white;
  text-decoration: none;
  padding: 5px 15px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.logo img {
  margin-top: 60px;
  width: 150px;
  height: auto;
  float: left;
}
.row {
  max-width: 60vw;
  margin: auto;
}
/* ----------------------- */

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2vw;
  text-align: left;
  margin: 12% 0 5% 0%;
  color: white;
}
section {
  display: inline-flex;
  position: absolute;
  top: 22vh;
  width: 70%;
  text-align: left;
}
section p {
  color: white;
  font-size: 1vw;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
article {
  width: 40%;
}
button {
  text-align: center;
  border-radius: 2px;
  padding: 2%;
  width: 12vw;
  margin-top: 3rem;
  border: none;
  color: white;
  font-weight: bold;
}
.green-button {
  background-color: limegreen;
}
.blue-button {
  background-color: blue;
  margin-right: 1.1rem;
}

/* images design */
img {
  width: 13vw;
  height: 27rem;
}
.img1 {
  position: absolute;
  top: 0;
  right: 40vh;
  z-index: auto;
}
.img2 {
  position: absolute;
  top: 2vh;
  right: 51vh;
  z-index: auto;
}
